*{
    margin: 0;
    padding: 0;
}
body{
    background-color:aquamarine;
}
#wrapper{
    
    width: 570px;
    margin: 150px auto;
}
table{
    padding: 5px;
    background-color: bisque    ;
}
table tr th{
    font-size: 30px;
    font-weight: bold;
}
table tr td,th{
    padding: 10px;
}
table tr td input{
    text-align: center;
}
#butt{
    text-align: center;
}
h5{
    margin: 0;
}
h