*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
}
#wrapper{
    border-radius: 10px;
    background-color: azure;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    position :relative;
}
#header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 80px;
    margin-bottom: 30px ;
    text-align: center;
    height: 60px;
    background-color: aquamarine;
    padding: 20px 30px;
}
h1{
    padding: 5px;
    margin-bottom: 10px;
}

#inp{
    margin:0 0 0 10px;
    padding: 10px;
    width: 70%;
    font-size: 16px;
    border: none;
    border-radius: 0;
    float: left;
    
}
span{
    cursor: pointer;
}
#butt{
    text-align: center;
    padding: 10px;
    font-size: 16px;
    width: 15%;
    background-color: antiquewhite  ;
    border-radius: 0;
    transition: 0.3;
    float: left;
}
#butt:hover{
 background-color:rgb(203, 194, 183) ;
}
#konten {
    position: absolute;
    width: 500px;
}
#lay-menu{
    float: left;
}
#lay-cek{
    float: left;
}
ul{
    list-style: none;
}
li{
    background-color: rgb(40, 235, 219);
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    
}
#list-konten{
    width: 400px;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
}
#list-cek{
    border-radius: 0 10px 10px 0;
    
    padding: 10px;
}
